/* A note on media queries:
 * Where a rule exists for a selector in the default styles, a media query will follow
 * that selector immediately. Where no rule exists in the default styles for a given
 * selector, rules will be grouped in media queries by page section.
 **/

/* TODO: @media not all and (hover: none) for devices that SUPPORT hover */

/* TODO: Improve breakpoint accuracy */

:root {
  /* DOCUMENT VARIABLES */
  /* COLORS */
  /* Defined in HSL (or HSLa) for easy programmatic changes */
  /* Brand colors */
  --color-brand-primary: hsl(237, 39%, 17%);
  --color-brand-primary-a20: hsla(237, 39%, 17%, .2);
  --color-brand-primary-a40: hsla(237, 39%, 17%, .4);
  --color-brand-primary-a60: hsla(237, 39%, 17%, .6);
  --color-brand-primary-a80: hsla(237, 39%, 17%, .8);
  --color-brand-secondary: hsl(210, 95%, 77%);
  --color-brand-secondary-a20: hsla(210, 95%, 77%, .2);
  --color-brand-secondary-a40: hsla(210, 95%, 77%, .4);
  --color-brand-secondary-a60: hsla(210, 95%, 77%, .6);
  --color-brand-secondary-a80: hsla(210, 95%, 77%, .8);
  --color-brand-light: hsl(235, 100%, 95%);
  --color-brand-light-a20: hsla(235, 100%, 95%, .2);
  --color-brand-light-a40: hsla(235, 100%, 95%, .4);
  --color-brand-light-a60: hsla(235, 100%, 95%, .6);
  --color-brand-light-a80: hsla(235, 100%, 95%, .8);
  --color-brand-light-a90: hsla(235, 100%, 95%, .9);
  --color-brand-accent: hsl(35, 66%, 52%);
  --color-brand-accent-shadow: hsl(35, 66%, 37%);
  --color-brand-accent-a20: hsla(35, 66%, 52%, .2);
  --color-brand-accent-a40: hsla(35, 66%, 52%, .4);
  --color-brand-accent-a60: hsla(35, 66%, 52%, .6);
  --color-brand-accent-a80: hsla(35, 66%, 52%, .8);
  /* Standard colors */
  /* Not brand colors but within brand colorspace */
  --color-grey-20: hsl(240, 20%, 20%);
  --color-grey-40: hsl(240, 20%, 40%);
  --color-grey-60: hsl(240, 20%, 60%);
  --color-grey-80: hsl(240, 20%, 80%);
  --color-white: hsl(240, 20%, 100%);
}

/* GLOBAL */

body {
  color: var(--color-grey-20);
  background: url('../images/handmadepaper.png') repeat fixed;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.45;
}

@media (min-width: 680px) {
  body {
    padding: 2.827rem 1.414rem;
    background: url('../images/handmadepaper_@2x.png') repeat fixed;
  }
}

a {
  color: var(--color-brand-primary);
  text-decoration-skip-ink: auto;
  transition: all 50ms ease;
}

a:hover {
  color: var(--color-brand-secondary);
  text-shadow: 0 0 15px var(--color-brand-secondary-a40);
}

ul {
  padding: 0;
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

.content {
  margin: 0 auto;
  padding: 1.414rem;
}

@media (min-width: 680px) {
  .content {
    max-width: 1160px;
    padding: 3.998rem 0;
  }
}

button,
.button {
  border: none;
}

button:hover,
.button:hover {
  transform: translate(0, -0.2rem);
}

figure {
  display: block;
  width: 100%;
  margin: 1.414rem auto 2.827rem auto;
}

figcaption {
  text-align: right;
}

figure img {
  width: 100%;
}

/* HEADER STYLES */

.banner {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  background-image: linear-gradient(62deg, var(--color-brand-secondary-a40) 0%, var(--color-brand-light-a40) 30%);
  border-bottom: 2px solid var(--color-brand-light);
  border-right: 2px solid var(--color-brand-light);
  border-radius: 4px;
  box-shadow: 0px 20px 24px -10px var(--color-brand-light-a60);
}

@media (min-width: 680px) {
  .banner {
    flex-direction: row;
  }
}

.is-active .nav-link {
  color: var(--color-brand-accent);
}

.nav-list {
  padding: 2.827rem 0;
}

@media (min-width: 680px) {
  .nav-list {
    padding: inherit;
  }
}

.nav-item {
  display: inline;
}

@media (min-width: 680px) {
  .nav-item:not(:last-of-type) {
    border-right: 1px solid var(--color-grey-40);
  }
}

.nav-link {
  color: var(--color-grey-20);
  text-decoration: none;
  text-transform: lowercase;
  font-size: 1.4rem;
  padding: 0 .5rem;
  margin-left: .5rem;
  transition: none;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-skip: ink;
  color: var(--color-brand-accent);
}

@media (min-width: 680px) {
  .nav-link {
    font-size: 1.6rem;
    letter-spacing: .6rem;
    padding: 0 1rem;
    margin-left: 1rem;
  }
}

.logo {
  width: 100%;
  max-width: 300px;
  padding: 1.414rem;
}

/* PAGINATION */

.pagination-wrap {
  margin-top: 3.998rem;
}

.pagination-item.right {
  float: right;
}

.pagination-item {
  cursor: pointer;
  text-decoration: none;
}

.pagination-item polyline {
  transition: all 90ms ease;
}

.pagination-item:hover polyline {
  stroke: var(--color-brand-secondary);
  stroke-width: 6;
}

.pagination-item.is-inactive {
  cursor: default;
}

.pagination-item.is-inactive polyline {
  stroke: var(--color-grey-80);
  stroke-width: 3;
}

@media (min-width: 680px) {
  .pagination-item {
    position: fixed;
    top: 50%;
  }
  .pagination-item.left {
    left: 3.998rem;
  }
  .pagination-item.right {
    float: none;
    right: 3.998rem;
  }
}

/* MAIN BODY STYLES */

.content>hr,
.post>hr {
  border: 0;
  height: 1px;
  background: var(--color-grey-40);
  background-image: linear-gradient(to right, var(--color-grey-80), var(--color-grey-40), var(--color-grey-80));
}

/* HOME */

.feature-graphic {
  opacity: 0.95;
}

.cta {
  margin: 0 auto;
  color: var(--color-white);
  background-color: var(--color-brand-accent);
  position: relative;
}

.cta:hover {
  box-shadow: 0 12px 15px -10px var(--color-brand-primary-a60);
  color: var(--color-grey-20);
}

@media (min-width: 680px) {
  .lead-feature {
    margin: 2.827rem auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.414rem;
    grid-template-areas: "graphic headline" "graphic copy" "graphic cta";
  }
  .feature-graphic {
    grid-area: graphic;
    max-width: 600px;
  }
  .feature-headline {
    grid-area: headline;
  }
  .feature-copy {
    grid-area: copy;
  }
  .cta {
    grid-area: cta;
    width: 50%;
  }
}

/* SHOWCASE */

.showcase {
  display: grid;
  grid-template-rows: repeat(3, minmax(2.827rem, max-content));
  grid-template-columns: 1fr, minmax(30rem, max-content);
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

@media (min-width: 680px) {
  .showcase {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.414rem;
    margin-bottom: 2.827rem;
  }
}

.showcase-title {
  grid-column: 1/-1;
}

.showcase-item {
  position: relative;
}

.showcase-img {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

.caption {
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 400px;
  height: 20%;
  background-color: var(--color-brand-primary-a80);
  color: var(--color-brand-light);
}

@media (min-width: 680px) {
  .caption {
    height: 0;
    overflow: hidden;
    transition: 200ms ease;
  }
}

.caption-title {
  padding-top: 1rem;
}

@media (min-width: 680px) {
  .caption-title {
    padding-top: 7.994%;
  }
}

@media (min-width: 680px) {
  .showcase-item:hover .caption {
    height: 28.27%;
  }
}

.showcase-link {
  font-size: 2.827rem;
  text-align: right;
}

@media (min-width: 680px) {
  .showcase-link {
    grid-area: 3/3/4/4;
  }
}

/* PROJECTS */

.item-header {
  display: flex;
  flex-direction: column;
}

@media (min-width: 680px) {
  .item-header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.item-date {
  font-size: 2.827rem;
  line-height: 3.998rem;
  padding-left: 1.414rem;
}

/* GALLERY */

.gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 350px 250px;
  grid-auto-flow: dense;
}

@media (min-width: 680px) {
  .gallery {
    grid-gap: 1.414rem;
  }
}

.gallery-item {
  margin: 0;
}

@media (min-width: 680px) {
  .gallery-item:first-child {
    grid-area: 1 / 1 / span 2 / span 2;
  }
}

.gallery-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SERVICES */

.items {
  margin-bottom: 3.998rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px 250px;
}

.items-category {
  grid-area: 1/1/2/-1;
}

/* CARD */

.card {
  margin: 1.414rem;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 12px 15px -10px var(--color-brand-primary-a60);
}

@media (min-width: 680px) {
  .card {
    height: 200px;
  }
}

.card-header,
.card-footer,
.card-body p {
  padding: 1.414rem;
}

@media (min-width: 680px) {
  .card-body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 200ms ease;
    border-radius: 4px;
    background-color: var(--color-brand-primary);
    color: var(--color-brand-light);
  }
  .card:hover .card-body {
    height: 100%;
  }
}

.item-price {
  font-size: 2.827rem;
  color: hsl(78, 12%, 63%);
}

/* COVER IMAGE */

.cover-image {
  width: 100%;
}

/* BLOG POST */

@media (min-width: 680px) {
  .post-copy {
    max-width: 960px;
    margin: 0 auto;
  }
}

/* ABOUT */

.about {
  display: flex;
  flex-direction: column;
}

@media (min-width: 680px) {
  .about {
    display: grid;
    grid-template-rows: repeat(2, minmax(2.827rem, max-content));
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "headshot title" "headshot copy";
    grid-gap: 1.414rem;
  }
}

.headshot {
  width: 100%;
  max-width: 600px;
  border-radius: 4px;
  grid-area: headshot;
}

.about-title {
  grid-area: title;
}

.about-copy {
  grid-area: copy;
}

/* FOOTER STYLES */

.page-footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}

@media (min-width: 680px) {
  .page-footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.414rem;
    grid-template-areas: "social contact" "legal contact";
  }
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 680px) {
  .social {
    grid-area: social;
  }
}

@media (min-width: 680px) {
  .social-link {
    font-size: 4.8rem;
  }
  a .social-link-logo:hover {
    color: var(--color-brand-secondary);
    text-shadow: 0 0 15px var(--color-brand-secondary-a40);
  }
}

.legal {
  display: flex;
  flex-direction: column;
}

@media (min-width: 680px) {
  .legal {
    grid-area: legal;
  }
}

.contact-me {
  display: flex;
  flex-direction: column;
}

@media (min-width: 680px) {
  .contact-me {
    grid-area: contact;
    display: flex;
    flex-direction: column;
  }
}

.contact-form {
  margin-bottom: 0;
}

@media (min-width: 680px) {
  .contact-form {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.414rem;
    grid-template-areas: "name email" "message message" "buttons ."
  }
}

.contact-name-field {
  width: 100%;
}

.contact-email-field {
  width: 100%;
}

.contact-button {
  color: var(--color-grey-40);
  transition: all 50ms ease;
}

.contact-button:hover {
  box-shadow: 0 12px 15px -10px var(--color-brand-primary-a60);
}

.contact-button-reset {
  background-color: var(--color-white);
}

.contact-button-reset:hover {
  background-color: var(--color-brand-light);
}

.contact-button-submit {
  color: var(--color-white);
  background-color: var(--color-brand-accent);
}

@media (min-width: 680px) {
  .contact-title {
    grid-area: title;
  }
  .contact-name {
    grid-area: name;
  }
  .contact-email {
    grid-area: email;
  }
  .contact-message {
    grid-area: message;
  }
  .contact-buttons {
    grid-area: buttons;
  }
}

textarea {
  width: 100%;
}

/* UTILITIES */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}